body{
    background-color:rgba(171, 99, 99, 0.9);
  }
  h1{
    text-align: center;
    color: #000;
  }
  
  .buttons{
    margin-top:100;
    display:flex;
    justify-content:center;
    gap:2rem;
  }
  .buttons button{
    border:none;
    padding:0.4rem 1.2rem;
    background-color:purple;
    color:white;
    border-radius:5px;
    cursor:pointer
  }
  
  #page-number{
    border:none;
    text-align:center;
    width:3rem;
    border-radius:5px;
  }
  #page-number:focus{
    outline:none;
  }
  
  .list-container{
    display:flex;
    justify-content:center;
  }
  .list-container{
    height:700px;
  }
  .list-container ul {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(5,1fr);
    gap:1rem;
  }
  .list-container ul li {
    width:100px;
    height:60px;
    margin:20px 0;
    list-style:none;
    padding:0.5rem 1rem;
    background-color:rgb(205, 90, 195);
    color:white;
    border-radius:5px;
  }